{{ define "main" }}
{{- partial "content/breadcrumb.html" . -}}

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-14">

  <article class="md:col-span-2 prose lg:prose-lg">

    <header class="not-prose">

      <h1 id="title" class="text-4xl font-bold leading-normal">{{ .Title }}</h1>

      <div id="lead" class="my-6">

        <p class="font-bold">{{ .Params.description }} </p>

      </div>

      <div id="writer" class="flex items-center space-x-4">

        {{- $name := .Site.Params.Author.name -}}

        {{- with $avatar := resources.Get .Site.Params.Author.avatar }}

        <img class="w-12 h-12 bg-black rounded-full" src="{{ $avatar.Permalink }}" alt="{{ $name }} avatar"
          width="{{ $avatar.Width }}" height="{{ $avatar.Height }}">

        {{ end -}}

        <ul class="flex items-center space-x-4 flex-nowrap whitespace-nowrap overflow-x-auto">

          <li class="font-semibold my-2">{{ .Site.Params.Author.name }}</li>

          <li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
            {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
            {{- $dateHuman := .Date | time.Format ":date_long" -}}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          </li>

          <li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
            {{ .ReadingTime }} min read
          </li>

        </ul>

      </div>

    </header>

    <figure id="featureimage" class="rounded-xl aspect-video">

      {{- if .Params.image }}

      {{- if ( strings.HasPrefix .Params.image "http" ) }}

      <img class="rounded-lg" src="{{ .Params.image }}" alt="{{ .Params.title }}">

      {{- else }}

      {{- with $image := resources.Get .Params.image }}
      {{- $image := $image.Resize "750x" }}
      <img class="rounded-lg" src="{{ $image.Permalink }}" alt="{{ .Params.title }}" width="{{ $image.Width }}"
        height="{{ $image.Height }}">
      {{- end }}

      {{- end }}

      {{- end }}

      {{- if ( isset .Params "caption" ) }}
      <figcaption class="text-center italic text-xs">{{ .Params.caption }}</figcaption>
      {{- end }}

    </figure>

    <div id="content" class="mb-14">
      <!-- Content -->

      {{- .Content -}}

      <!-- Tags list -->

      {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}

    </div>

    <footer id="content-footer" class="not-prose">

      <div id="author-box" class="my-8 md:my-14 border p-8 bg-zinc-100 rounded-2xl">

        <img class="w-20 h-20 rounded-full" src="{{ .Site.Params.Author.avatar | absURL }}"
          alt="{{ .Site.Params.Author.name }}">

        <h2 class="text-xl font-bold my-4">Auteur : {{ .Site.Params.Author.name }}</h2>

        <p class="mb-4">{{ .Site.Params.Author.bio }}</p>

        <ul class="flex flex-wrap space-x-4">
          <li>
            <a class="flex items-center decoration-auto hover:underline" href="https://github.com/yunea" target="_blank"
              rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8a8 8 0 0 0 5.47 7.59c.4.07.55-.17.55-.38 
                  0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52
                  0-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.5-1.07-1.78-.2-3.64-.89-3.64-3.95
                  0-.87.31-1.59.82-2.15-.08-.2-.36-1.01.08-2.11 0 0 .67-.21 2.2.82a7.62 7.62 0 0 1 2-.27
                  c.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.91.08 2.11.51.56.82 
                  1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 
                  1.93-.01 2.2 0 .21.15.46.55.38A8.001 8.001 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
              </svg>
              <span class="ml-2">GitHub</span>
            </a>
          </li>
          <li>
            <a class="flex items-center decoration-auto hover:underline" href="https://linkedin.com/in/aina-dirou"
              target="_blank" rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 
                  16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 
                  0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.213c.837 
                  0 1.358-.554 1.358-1.248-.015-.71-.52-1.248-1.342-1.248-.822 
                  0-1.358.538-1.358 1.248 0 .694.521 1.248 1.327 1.248h.015zm4.908 
                  8.213V9.359c0-.216.016-.432.08-.586.173-.432.568-.88 1.232-.88.869 
                  0 1.216.664 1.216 1.637v3.864h2.401V9.25c0-2.22-1.184-3.252-2.765-3.252-1.274 
                  0-1.845.7-2.165 1.19h.03v-1.024H7.17c.03.664 0 7.225 0 7.225h2.401z" />
              </svg>

              </svg>
              <span class="ml-2">LinkedIn</span>
            </a>
          </li>

        </ul>

      </div>

      <div id="related-post" class="">

        <h2 class="text-xl md:text-2xl font-bold mb-6 md:mb-8">Recommended for You</h2>

        {{- $related := .Site.RegularPages.Related . | first 2 -}}

        {{- with $related -}}

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

          {{- range . }}

          {{- partial "content/card.html" . -}}

          {{- end }}

        </div>

        {{- end }}
      </div>

    </footer>

  </article>

  <!-- Aside -->
  <aside class="md:col-span-1">

    {{- partial "content/aside.html" . -}}

  </aside>

</div>

{{ end }}